name: Deploy Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup SSH & Deploy
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        port: 22
        script: |
          # Ensure backend folder exists
          mkdir -p ~/Ecommerce-backend
          cd ~/Ecommerce-backend

          # Pull latest code using GitHub token
          git init
          git remote add origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/Anshifnu/Ecommerce-backend.git || true
          git fetch origin main
          git reset --hard origin/main

          # Install dependencies
          pip install -r requirements.txt

          # Restart backend (adjust if using uvicorn/Django)
          sudo systemctl restart my-backend || echo "Restart service manually"



